* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

html {
  background-color: #333;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-family: 'VT323', monospace;
}

header {
  font-size: larger;
  padding: 1rem;
  text-align: center;
}

.container {
  border-radius: 0.5rem;
  padding: 1.25rem 1rem 1.5rem;
  background-color: rgba(32, 33, 36, 0.7);
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
}

#type {
  margin-bottom: 1rem;
}

.dropdown,
.input {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(60, 64, 67);
  line-height: 1.25rem;
  padding: 5px 16px 5px 5px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.input {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  background-color: rgb(32, 33, 36);
}

.dropdown {
  background-color: rgb(48, 49, 52);
  font-size: 1rem;
}

.input-group {
  display: flex;
  justify-content: space-between;
  padding-top: 0.7rem;
}

.input-section {
  width: 45%;
}

.equals {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: rgb(154, 160, 166);
  padding-top: 0.7rem;
  vertical-align: top;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

input[type='submit'] {
  background-color: rgb(60, 64, 67);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  margin-top: 20px;
}

input[type='submit']:hover {
  background-color: rgb(48, 49, 52);
}

/* Footer */
footer {
  text-align: center;
  margin-top: auto;
  padding: 10px 0;
  background: rgba(32, 33, 36, 0.7);
  backdrop-filter: blur(5px);
}

footer a {
  color: #f69d3c;
  text-decoration: none;
}

footer a:hover {
  color: #aff608;
  text-decoration: none;
}
