:root {
  --main-font: Arial, sans-serif;
  --main-bg-color: #f4f4f4;
  --secondary-bg-color: #fff;
  --primary-color: #4caf50;
  --secondary-color: #ddd;
  --danger-color: #f44336;
  --neutral-color: #333;
  --light-color: #f9f9f9;
  --container-width: 80%;
  --border-radius: 0.3125rem;
  --transition: 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

header h1 {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 2rem;
  font-size: 2em;
  margin: 0;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
  padding: 1.25rem;
  margin-top: 1rem;
  background-color: var(--secondary-bg-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.25rem 0;
}

th,
td {
  border: 1px solid var(--secondary-color);
  padding: 0.5rem;
  text-align: left;
  width: auto;
}

th {
  background-color: var(--primary-color);
  color: white;
}

th.actions,
td.actions {
  width: 1%;
  white-space: nowrap;
}

.actions {
  text-align: center;
}

.actions i {
  cursor: pointer;
  margin-left: 0.3125rem;
}

.edit-icon:hover,
.check-icon:hover {
  color: var(--primary-color);
}

.delete-icon:hover,
.close-icon:hover {
  color: var(--danger-color);
}

form {
  box-sizing: border-box;
  width: 100%;
  padding: 1.25rem;
  background-color: var(--light-color);
  border-radius: var(--border-radius);
  margin-bottom: 1.25rem;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 0.625rem;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
}

input[type='submit'] {
  padding: 0.3125rem 0.625rem;
  font-size: 1.1em;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}

input[type='submit']:hover {
  background-color: #45a049;
}

.toast {
  visibility: hidden;
  max-width: 50%;
  margin: auto;
  background-color: var(--neutral-color);
  text-align: center;
  border-radius: 0.125rem;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 1.875rem;
  font-size: 1rem;
  color: white;
  transform: translateX(-50%);
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
}

@media (max-width: 48rem) {
  .container {
    width: 90%;
  }

  form {
    width: 100%;
  }
}
